<div id="contentcontact">
<div class=sec>
<div class="col-md-6">
    
    <img class="imgcontact" src="https://s3.amazonaws.com/static.written.com/manage-restaurant-staff01461607458.jpg">
</div>
  
<div class="col-md-6">
  
  <h1>Contact Us</h1>  
    We are here to answer any question
    
    
<form class="cf">
  <div class="form-group">
    <input type="text" id="input-name" placeholder="Name" class="form-control">
    </div>
    <div class="form-group">
    <input type="email" id="input-email" placeholder="Email address" class="form-control">
    </div>
    <div class="form-group">
    <input type="text" id="input-subject" placeholder="Subject" class="form-control">
  </div>
  <div class="form-group">
    <textarea name="message" type="text" id="input-message" placeholder="Message" class="form-control"></textarea>
  </div>  
  
  <input type="submit" value="Submit" id="input-submit" class="btn btn-succes">
</form>
    
</div>
</div>
<br><br><br>
<div class="sec">
<div class="col-md-6">
    <br><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d788.5950838858897!2d-122.4381494465282!3d37.757679275553464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+Californie%2C+%C3%89tats-Unis!5e0!3m2!1sfr!2sfr!4v1480515608495" width="450" height="450" frameborder="0" style="border:0" ></iframe>
    
    
</div>
<div class="col-md-6 hi">
<br><br>
    <h2>Contact Us</h2> 
   <h6><b>Adress: </b>200 Jackson Street, San Francisco, CA 94111-1806</h6>
   <h6><b>TEL: </b>+1 415-981-0983</h6>

</div>

</div>