<div id="content">

 

	
	
<div id="slideshow">
   <div>
     <img class="slideimg" src="assets/Default.jpg">
   </div>
   <div>
     <img class="slideimg" src="assets/Appetizers.jpg">
   </div>
   <div>
     <img class="slideimg" src="assets/Desserts.jpg" alt="dessert">
   </div>
   <div>
     <img class="slideimg" src="assets/MainCourse.jpg">
   </div>
   <div>
     <img class="slideimg" src="assets/Specials.jpg">
   </div>
 
<div class="text">
		<h1>Welcome</h1>
		<h2>WHO Restaurant</h2>
	</div>
 </div>
 
   
</div>
 <div class="sec">
     <div class="col-md-6">
         <h1>Discover</h1>
         <h3>The Gastronomic Rstaurant</h3>
         <br>
         <br>
         <p>The Citrus Etoile is a gourmet restaurant serving French cuisine located in Paris 8. Ideal for your romantic dinner or business meal just a stone's throw from the Champs Elysees, where you can enjoy recipes of light cuisines and quality. A warm and friendly place where cooking rhymes with poetry. The dishes tell stories combining gastronomy and passion. At its head: Chief Gilles Epié. Combining knowledge, tradition and know-how, its simplicity has seduced the most demanding. With his wife Elizabeth, it is today a point of honor to welcome gourmands and epicureans while sharing his passion. The gourmet Parisian restaurant reveals subtle and refined French cuisine evoking the flavors of Asia or California. Exquisite tastes, gourmet dishes or sparkling dishes, the menu reveals many delicacies.
         </p>
         <div class="col-md-4"></div>
          <div class="col-md-4">
         <%= link_to 'Dicover Menu', pages_menu_path, class:'btn btn-succes'%>
     </div>
     <div class="col-md-4"></div>
     </div>
  <div class="col-md-6">
      <img class="img1" src="http://i.huffpost.com/gen/1846604/images/o-CHEF-COOKING-facebook.jpg">
      
      
      <img class="img1" src="http://www.lachamade.com/wp-content/uploads/2013/11/table-restaurant.jpg">
      
      
  </div>
  </div>
  <div class="sec">
      
      <img class="img2" src="https://citrusetoile.paris/wp-content/uploads/2014/05/citrus-etoile-charles-de-gaulles-etoile-paris-que-faire.jpg">
  </div>
 
  
  <div class="sec sec3">
      
      <div class="col-md-6">
      <img class="img1" src="https://u.tfstatic.com/restaurant_photos/409/58409/169/612/l-auberge-du-moulin-vert-grand-salon-auberge-du-moulin-vert-16330.jpg">
      
      
      <img class="img1" src="https://u.tfstatic.com/restaurant_photos/409/58409/169/612/l-auberge-du-moulin-vert-veranda-moulin-vert-6f298.jpg">
      
      
     </div>
     <div class="col-md-6">
         <h1>Organize</h1>
         <h3>An Event</h3>
         <br>
         <br>
         <p>Organize all your events to offer your guests an unforgettable memory. Cocktails, banquets, receptions: let your imagination run free for a menu of Chef Gilles Epié.</p>
         
     </div>
  </div> 
     
     <div class="sec">
          
     
     </div>
     
     
</div>

