<div id="contentmenu">
    <br>
    <br>
<h1>Menu</h1>
<br>
<br>
<p>
Chef Gilles Epié invites you to discover gourmet French cuisine in its romantic and chic restaurant in Paris, located in the 8th arrondissement. Every two months, travel with a new menu based on the work of the product and inspired by a Californian cuisine. Light and without butter, the cuisine is fresh, colorful and dietetic.</p>
<h2>OUR MENUS ARE VALID FOR LUNCH AND DINNER</h2>
<br>
<br>

 <div class="col-md-6">
         <h3>SEASON MENU 49$</h3><br>
         <h5>Appetizers</h5>
         <br>
         <p>SAUMON D' ECOSSE À L'HUILE COMME LE HARENG
OU VELOUTÉ DE POTIRON AUX CHATAIGNES ET CHAMPIGNONS SAUVAGES
OU TARTARE DE BULOTS AU CHORIZO IBÉRIQUE
         </p>
         <h5>Main Course</h5>
         <br>
         <p>SAUMON D' ECOSSE À L'HUILE COMME LE HARENG
OU VELOUTÉ DE POTIRON AUX CHATAIGNES ET CHAMPIGNONS SAUVAGES
OU TARTARE DE BULOTS AU CHORIZO IBÉRIQUE
         </p>
         <h5>Desserts</h5>
         <br>
         <p>SAUMON D' ECOSSE À L'HUILE COMME LE HARENG
OU VELOUTÉ DE POTIRON AUX CHATAIGNES ET CHAMPIGNONS SAUVAGES
OU TARTARE DE BULOTS AU CHORIZO IBÉRIQUE
         </p>
         
        
     </div>
  <div class="col-md-6">
     <h3>SEASON MENU 49$</h3>
     <br>
         <h5>5 PLATS</h5>
         <br>
         
         <p>SALADE DE HOMARD ET POMMES DE TERRE À L'HUILE DU CRUSTACÉ</p>
<p>BEIGNET DE FOIE GRAS DE CANARD DES LANDES CARAMÉLISÉ AU PORTO</p>
<p>CARRÉ D' AGNEAU PERSILLÉ ARTICHAUT CAMUS, MOUSSELINE DE POMME DE TERRE À LA TRUFFE, JUS</p>
<p>TERRINE DE ROQUEFORT PAPILLON AUX NOIX ET ABRICOTS</p>
<p>SOUFFLÉ AU CHOCOLAT AMER, GLACE CRÈME DOUBLE MERINGUE</p>
         
      
  </div>


</div>