#contentmenu{
    
     padding-left: 0px;
  margin-right: 0px;  
  padding-top: 50px;
  height: 100%;
  width: 100%;
}
#contentmenu h1{
    
    text-align: center;
    font-family:'Dancing Script', cursive;
    color:#808000;
    font-weight:bold;
    font-size:7rem;
}

#contentmenu h2{
    
    text-align: center;
}
#contentcontact{
    
     padding-left: 0px;
  margin-right: 0px;  
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

.row h1{
    
    text-align: center;
    font-family:'Dancing Script', cursive;
    color:#808000;
    font-weight:bold;
    font-size:7rem;
}
